<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ruchita's Games</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/animate.min.css">
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <link rel="stylesheet" href="static/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/css/odometer.css">
    <link rel="stylesheet" href="static/css/aos.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/meanmenu.css">
    <link rel="stylesheet" href="static/css/slick.css">
    <link rel="stylesheet" href="static/css/default.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/responsive.css">
</head>

<body>

    <!-- preloader -->
    <div id="preloader">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <img src="static/img/icon/preloader.svg" alt="">
            </div>
        </div>
    </div>
    <!-- preloader-end -->

    <!-- header-area -->
    <header>
        <div class="header-top-area s-header-top-area d-none d-lg-block">
            <div class="container-fluid s-container-full-padding">
                <div class="row align-items-center">
                    <div class="col-lg-6 d-none d-lg-block">

                    </div>
                    <div class="col-lg-6">
                        <div class="header-top-right">
                            <div class="header-social">
                                <ul>
                                    <li><a href="https://www.facebook.com/profile.php?id=100008485396334"
                                            target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://twitter.com/ruchitavy" target="_blank"><i
                                                class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.instagram.com/ruchi.taa/" target="_blank"><i
                                                class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <div class="header-top-action">
                                <ul>
                                    <li>
                                        <div class="header-top-mail">
                                            <p>
                                                <span>|</span><i class="far fa-envelope"></i><a
                                                    href="mailto:ruchitavy@gmail.com">ruchitavy@gmail.com</a>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="transparent-header">
            <div class="container-fluid s-container-full-padding">
                <div class="row">
                    <div class="col-12">
                        <div class="main-menu menu-style-two" style="padding-top: 0px;">
                            <nav style="align-items: top !important;">
                                <div class="logo">
                                    <div class="featured-game-icon"><img src="static/img/icon/featured_game_icon.png"
                                            alt=""></div>
                                </div>
                                <div id="mobile-menu" class="navbar-wrap d-none d-lg-flex">
                                    <ul>
                                        <li class="show"><a href="#">Home</a></li>
                                        <!-- <li><a href="#">Favorites</a></li> -->
                                        <li><a href="feedback">Feedback</a></li>
                                        <!-- LOGIN -->
                                        <li class="header-search">
                                            {% if name|length > 0 %}
                                            <a href="logout"><i class="fas fa-backward"></i></a>
                                            {% else %}
                                            <a href="login"><i class="fas fa-user"></i></a>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-area-end -->

    <!-- main-area -->
    <main>

        <!-- slider-area -->
        <section class="slider-area">
            <div class="slider-active">
                <div class="single-slider slider-bg slider-style-two">
                    <div class="container-fluid container-full-padding">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12">
                                <div class="slider-content">
                                    <h2 data-animation="fadeInUp" data-delay=".4s"></h2>
                                    <p data-animation="fadeInUp" data-delay=".6s"></p>
                                    <a href="games/TypingGame" target="_blank" class="btn btn-style-two"
                                        style=" margin-left: 45%; top: 130px;" data-animation="fadeInUp"
                                        data-delay=".8s">PLAY NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-img" data-animation="slideInRightS" data-delay=".6s">
                        <img src="static/img/slider/slider_img01.png" alt="">
                    </div>
                    <div class="slider-img slider-img2" data-animation="slideInLeftS" data-delay=".6s">
                        <img src="static/img/slider/slider_img02.png" alt="">
                    </div>
                    <div class="slider-circle-shape"><img src="static/img/slider/slider_circle.png" alt=""
                            class="rotateme">
                    </div>
                </div>
                <div class="single-slider slider-bg slider-style-two"
                    style="background-image: url(static/img/slider/slider_bg.jpg);">
                    <div class="container-fluid container-full-padding">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12">
                                <div class="slider-content">
                                    <h2 data-animation="fadeInUp" data-delay=".4s"></h2>
                                    <p data-animation="fadeInUp" data-delay=".6s"></p>
                                    <a href="games/BoxCollider" target="_blank" class="btn btn-style-two"
                                        style=" margin-left: 45%; top: 130px;" data-animation="fadeInUp"
                                        data-delay=".8s">PLAY NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-img" data-animation="slideInRightS" data-delay=".6s">
                        <img src="static/img/slider/slider_img01.png" alt="">
                    </div>
                    <div class="slider-img slider-img2" data-animation="slideInLeftS" data-delay=".6s">
                        <img src="static/img/slider/slider_img02.png" alt="">
                    </div>
                    <div class="slider-circle-shape"><img src="static/img/slider/slider_circle.png" alt=""
                            class="rotateme">
                    </div>
                </div>
            </div>
        </section>
        <!-- slider-area-end -->


        <!-- new-games-area -->
        <section class="released-games-area gray-bg pt-115 pb-70" style="background-color: #000; ">
            <div class="container">
                <div class="row justify-content-center" style="height: 3px;">
                    <div class="col-xl-6 col-lg-8">
                        <div class="section-title title-style-three text-center mb-20">
                            <h2 style="color:rgb(255, 255, 255);">GAMES</h2>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-xl-8 col-lg-12">
                        <div class="released-game-active">
                            <div class="released-game-carousel">
                                <div class="released-game-item">
                                    <div class="released-game-item-bg"></div>
                                    <div class="released-game-img">
                                        <img src="static/img/images/released_game_img01.png" alt=""
                                            style="border-radius: 50px;">
                                    </div>
                                    <div class="released-game-content">
                                        <div class="released-game-rating">
                                            <div class="released-rating">
                                            </div>
                                        </div>
                                        <h4>Typing Game</h4>
                                        <div class="released-game-list mb-15">
                                            <ul>
                                                <li><span style="color: #b8b8b8;"> Improve your Typing skills while
                                                        having FUN. To Win,
                                                        Type the falling words as fast as you can.</span></li>
                                            </ul>
                                        </div>
                                        <p></p>
                                        <a href="games/TypingGame" target="_blank" class="btn btn-style-two">play
                                            now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="released-game-carousel">
                                <div class="released-game-item">
                                    <div class="released-game-item-bg"></div>
                                    <div class="released-game-img">
                                        <img src="static/img/images/released_game_img02.png" alt=""
                                            style="border-radius: 50px;">
                                    </div>
                                    <div class="released-game-content">
                                        <div class="released-game-rating">
                                            <div class="released-rating">
                                            </div>
                                        </div>
                                        <h4>Brain Dots</h4>
                                        <div class="released-game-list mb-15">
                                            <ul>
                                                <li><span style="color: #b8b8b8;">All you need to do
                                                        is to make the two balls bump by Drawing Random lines and
                                                        shapes. Flexible thinking is going to become the key to victory.
                                                    </span>
                                                </li>

                                            </ul>
                                        </div>
                                        <p></p>
                                        <a href="games/BrainDots" target="_blank" class="btn btn-style-two">play now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="released-game-carousel">
                                <div class="released-game-item">
                                    <div class="released-game-item-bg"></div>
                                    <div class="released-game-img">
                                        <img src="static/img/images/released_game_img03.png" alt=""
                                            style="border-radius: 50px;">
                                    </div>
                                    <div class="released-game-content">
                                        <div class="released-game-rating">
                                            <div class="released-rating">
                                            </div>
                                        </div>
                                        <h4>Balloon Monster</h4>
                                        <div class="released-game-list mb-15">
                                            <ul>
                                                <li><span style="color: #b8b8b8;"> Protect the Balloon from the
                                                        Monsters. Using your mouse simply
                                                        move the balloon around so that it doesn't bump into the
                                                        Monsters.</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <p></p>
                                        <a href="games/BalloonMonster" target="_blank" class="btn btn-style-two">play
                                            now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="released-game-carousel">
                                <div class="released-game-item">
                                    <div class="released-game-item-bg"></div>
                                    <div class="released-game-img">
                                        <img src="static/img/images/released_game_img04.png" alt=""
                                            style="border-radius: 50px;">
                                    </div>
                                    <div class="released-game-content">
                                        <div class="released-game-rating">
                                            <div class="released-rating">
                                            </div>
                                        </div>
                                        <h4>Box Collider</h4>
                                        <div class="released-game-list mb-15">
                                            <ul>
                                                <li><span style="color: #b8b8b8;"> Help the box reach the end of the
                                                        level by avoiding any collision. </span>
                                                </li>

                                            </ul>
                                        </div>
                                        <p></p>
                                        <a href="games/BoxCollider" target="_blank" class="btn btn-style-two">play
                                            now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12">
                        <div class="released-game-nav">
                            <div class="released-game-nav-item">
                                <img src="static/img/images/release_game_nav01.jpg" alt="">
                            </div>
                            <div class="released-game-nav-item">
                                <img src="static/img/images/release_game_nav02.jpg" alt="">
                            </div>
                            <div class="released-game-nav-item">
                                <img src="static/img/images/release_game_nav03.jpg" alt="">
                            </div>
                            <div class="released-game-nav-item">
                                <img src="static/img/images/release_game_nav04.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- new-games-area-end -->



        <!-- cta-area -->
        <section class="cta-area cta-bg1">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-5 col-lg-6">
                        <div class="cta-img">
                            <img src="static/img/images/cta_img.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="cta-content">
                            <div class="cta-icon mb-15">
                                <img src="static/img/icon/cta_icon.png" alt="">
                            </div>
                            <div class="section-title title-style-three white-title mb-50">
                                {% if name|length > 0 %}
                                <h2>Hello {{ name }}, </h2>
                                {% else %}
                                <h2>Login and</h2>
                                {% endif %}
                                <h2>Tell us how you like the <span>Games</span></h2>
                                <p></p>
                            </div>
                            <div class="cta-btn">
                                <a href="feedback" class="btn btn-style-two">FEEDBACK</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- cta-area-end -->
    </main>
    <!-- main-area-end -->


    <!-- JS here -->
    <script src="static/js/vendor/jquery-3.4.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/isotope.pkgd.min.js"></script>
    <script src="static/js/slick.min.js"></script>
    <script src="static/js/jquery.meanmenu.min.js"></script>
    <script src="static/js/wow.min.js"></script>
    <script src="static/js/aos.js"></script>
    <script src="static/js/jquery.lettering.js"></script>
    <script src="static/js/jquery.textillate.js"></script>
    <script src="static/js/jquery.odometer.min.js"></script>
    <script src="static/js/jquery.appear.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/jquery.countdown.min.js"></script>
    <script src="static/js/jquery.scrollUp.min.js"></script>
    <script src="static/js/imagesloaded.pkgd.min.js"></script>
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>
</body>

</html>