<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gaming website</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/animate.min.css">
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <link rel="stylesheet" href="static/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/css/odometer.css">
    <link rel="stylesheet" href="static/css/aos.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/meanmenu.css">
    <link rel="stylesheet" href="static/css/slick.css">
    <link rel="stylesheet" href="static/css/default.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/responsive.css">
</head>

<body>

<!-- preloader -->
<div id="preloader">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <img src="static/img/icon/preloader.svg" alt="">
        </div>
    </div>
</div>
<!-- preloader-end -->

<!-- header-area -->
<header>
    <div class="header-top-area s-header-top-area d-none d-lg-block">
        <div class="container-fluid s-container-full-padding">
            <div class="row align-items-center">
                <div class="col-lg-6 d-none d-lg-block">

                </div>
                <div class="col-lg-6">
                    <div class="header-top-right">
                        <div class="header-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="header-top-action">
                            <ul>
                                <li>
                                    <div class="header-top-mail">
                                        <p>
                                            <span>|</span><i class="far fa-envelope"></i><a
                                                href="mailto:ruchitavy@gmail.com">ruchitavy@gmail.com</a>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sticky-header" class="transparent-header">
        <div class="container-fluid s-container-full-padding">
            <div class="row">
                <div class="col-12">
                    <div class="main-menu menu-style-two" style="padding-top: 0px;">
                        <nav style="align-items: top !important;">
                            <div class="logo">
                                <div class="featured-game-icon"><img src="static/img/icon/featured_game_icon.png"
                                                                     alt="">
                                </div>
                                <!-- <a href="index-2.html"><span style="color:white; font-size: x-large">GameHub</span></a> -->
                            </div>
                            <div id="mobile-menu" class="navbar-wrap d-none d-lg-flex">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="mobile-menu"></div>
                </div>
                <!-- Modal Search -->
                <!-- <div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form>
                            <input type="text" placeholder="Search here...">
                            <button><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div> -->
            </div>
        </div>
    </div>
</header>
<!-- header-area-end -->

<!-- main-area -->
<main>

    <!-- cta-area -->
    <section class="cta-area cta-bg">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-5 col-lg-6">
                    <div class="cta-img">
                        <img src="static/img/images/cta_img.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cta-content">
                        <form action="/signup" method="POST">
                            <!-- <div class="cta-icon mb-15">
                                <img src="static/img/icon/cta_icon.png" alt="">
                            </div> -->
                            <div class="section-title title-style-three white-title mb-50">
                                <div class="container">
                                    <h1>Register</h1>
                                    <p>Please fill in this form to create an account.</p>
                                    <hr>
                                    <input class="my-input" type="text" placeholder="Enter Full name" name="name"
                                           id="name" required>
                                    <br>
                                    <input class="my-input" type="text" placeholder="Enter Email" name="email"
                                           id="email" required>
                                    <br>
                                    <input class="my-input" type="password" placeholder="Enter Password" name="password"
                                           id="password"
                                           required>
                                    <br>
                                    <input class="my-input" type="password" placeholder="Repeat Password"
                                           name="password-repeat"
                                           id="password-repeat" required>
                                    <hr>
                                </div>
                                <div class="cta-btn">
                                    <!-- <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p> -->
                                    <button type="submit" class="btn btn-style-two">Sign up</button>
                                    <p>Already have an account? <a href="login">Sign in</a>.</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cta-area-end -->

</main>
<!-- main-area-end -->


<!-- JS here -->
<script src="static/js/vendor/jquery-3.4.1.min.js"></script>
<script src="static/js/popper.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/isotope.pkgd.min.js"></script>
<script src="static/js/slick.min.js"></script>
<script src="static/js/jquery.meanmenu.min.js"></script>
<script src="static/js/wow.min.js"></script>
<script src="static/js/aos.js"></script>
<script src="static/js/jquery.lettering.js"></script>
<script src="static/js/jquery.textillate.js"></script>
<script src="static/js/jquery.odometer.min.js"></script>
<script src="static/js/jquery.appear.js"></script>
<script src="static/js/owl.carousel.min.js"></script>
<script src="static/js/jquery.countdown.min.js"></script>
<script src="static/js/jquery.scrollUp.min.js"></script>
<script src="static/js/imagesloaded.pkgd.min.js"></script>
<script src="static/js/jquery.magnific-popup.min.js"></script>
<script src="static/js/plugins.js"></script>
<script src="static/js/main.js"></script>
</body>

</html>